<div class="filters">
  <mat-form-field>
    <mat-label>Sort</mat-label>
    <mat-select panelClass="sort-select" [(ngModel)]="sort">
      <mat-option value="name">Name</mat-option>
      <mat-option value="-released">Released</mat-option>
      <mat-option value="-added">Added</mat-option>
      <mat-option value="-created">Created</mat-option>
      <mat-option value="-updated">Updated</mat-option>
      <mat-option value="-rating">Rating</mat-option>
      <mat-option value="metacritic">Metacritic</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="games">
  <div class="game">
    <div class="game-thumb-container">
      <img
        src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/73b49398-555e-4714-8529-1e26c6571674/d2yhbzt-b67491b4-863d-4d0e-b726-e62c4f3d156d.jpg/v1/fill/w_900,h_631,q_75,strp/ichigo___come_on__aizen_by_diabolumberto_d2yhbzt-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzczYjQ5Mzk4LTU1NWUtNDcxNC04NTI5LTFlMjZjNjU3MTY3NFwvZDJ5aGJ6dC1iNjc0OTFiNC04NjNkLTRkMGUtYjcyNi1lNjJjNGYzZDE1NmQuanBnIiwiaGVpZ2h0IjoiPD02MzEiLCJ3aWR0aCI6Ijw9OTAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLndhdGVybWFyayJdLCJ3bWsiOnsicGF0aCI6Ilwvd21cLzczYjQ5Mzk4LTU1NWUtNDcxNC04NTI5LTFlMjZjNjU3MTY3NFwvZGlhYm9sdW1iZXJ0by00LnBuZyIsIm9wYWNpdHkiOjk1LCJwcm9wb3J0aW9ucyI6MC40NSwiZ3Jhdml0eSI6ImNlbnRlciJ9fQ.5HC72TdSGSK-t3ShbhS1Pr2hn7rnkW5JipJOdb6wiNA"
        alt="thumbnail"
        class="game-thumbnail"
      />
    </div>
    <div class="game-description">
      <p class="game-name">Name</p>
      <div class="game-platforms">
        <img
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/android/android-original.svg"
          alt="slug"
          class="game-platform"
        />
      </div>
    </div>
  </div>
</div>
