<div class="game-tabs">
  <mat-tab-group mat-align-tabs="start" backgroundColor="primary">
    <mat-tab label="About">
      <p class="game-tabs-par">
        Platforms:
        <span>PC</span>
      </p>
      <p class="game-tabs-par">
        Publishers:
        <span>Konami</span>
      </p>
      <p class="game-tabs-par">
        Website:
        <a href="#" target="_blank" class="game-tabs-link">http://</a>
      </p>
      <div class="game-description">Some description</div>
      <p class="game-tabs-votes">
        <span>
          <mat-icon class="game-votes-up">thumb_up</mat-icon>
          <span class="game-votes-count">55</span>
        </span>
        <span>
          <mat-icon class="game-votes-down">thumb_down</mat-icon>
          <span class="game-votes-count">5</span>
        </span>
      </p>
    </mat-tab>
    <mat-tab label="Screenshots">
      <img
        src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/45c1e597-63f4-4bc3-9ba5-94f01a257a6f/den6iph-ceb739a1-ae42-45f4-9c74-1fc50df09403.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzQ1YzFlNTk3LTYzZjQtNGJjMy05YmE1LTk0ZjAxYTI1N2E2ZlwvZGVuNmlwaC1jZWI3MzlhMS1hZTQyLTQ1ZjQtOWM3NC0xZmM1MGRmMDk0MDMuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.TzsRjq5cCn_bYwnVysy7mqC2O91i7uB-1KH85OAvg3o"
        alt="screenshot"
        class="game-screenshot"
      />
    </mat-tab>
    <mat-tab label="Trailers">
      <video class="game-trailer" controls>
        <source src="assets/videos/Lake - 91562.mp4" type="video/mp4" />
        Your browser does not support the video tag
      </video>
    </mat-tab>
  </mat-tab-group>
</div>
